* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assents/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.05);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --social-link-hover: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assents/MoonStars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assents/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --social-link-hover: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assents/Sun.svg);
}
.light #switch button {
 animation: slide-in 0.4s forwards;
}
body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--text-color);
  text-align: center;
}
body {
  /*
  background-image: url(./assents/bg-mobile.jpg); colocar imagem atras, backgrounde sempre iagem atras 
  background-repeat: no-repeat; repetições, yes or no 
  background-position: top center; posiçao de tela 
  background-size: cover; ocupação de tela
*/
  background: var(--bg-url) no-repeat top center/cover;
}

#container {
  width:100%;
  max-width: 588px;
  /* a altura nao é bem definida, para se for usada pelo celular poder oorrer a rolage*/

  margin: 56px auto 0;
  padding: 0 24px;
}
/* display inline e block, inline(em linha): um ao lado do outro e block: automaticamente pega o elemneto e da toda a largura possivel de tela, caso nao tenha a largura fixa, se tiver ocupara apenas o demarcado . Aguns elementos sao block automaticamente e outros inline( nao cosneguindo aplicar magem auto)(imagem é inline, div é block) para elemntos inlie alem do display: block, tambem aceita text-align: posiçao -css tricks(ver depois)*/
#profile {
  text-align: center;
  padding: 26px;
}
#profile img {
  width: 112px;
  margin: auto;
}
#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
  padding: 4px auto;
}
#switch button:hover {
  outline:8px solid var(--social-link-hover);

}
#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-out .4s;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color); /*surface-color dark*/
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
}
/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--social-link-hover);
}
footer {
  text-align: center;
  padding: 16px 0 16px 0;
  font-size: 14px;
}
/* medi quiere*/
@media(min-width:700px){
 :root {
   --bg-url: url(./assents/bg-desktop.jpg);
 }
  .light{
    --bg-url: url(./assents/bg-desktop-light.jpg);
  }
}
/* animação do switch*/
@keyframes slide-in {
from{
  left:0;
}
to{
  left:50%;
}

}
@keyframes slide-out{
  from{
left:50%;
  }
  to{
   left:0;
  }
}